
<%= content_for :title_bar do %>
  <li></li>
  <li class="title">home</li>
  <li></li>
<% end %>

<main>
  <a href="/customers"><div id="customers">a</div></a>
  <div>b</div>
  <div>c</div>
  <div id="products">d</div>
</main>